# ==============================
# APP
# ==============================
streamlit>=1.32,<2.0

# ==============================
# DATA
# ==============================
pandas>=2.1,<3.0
numpy>=1.26,<3.0
sqlalchemy>=2.0,<3.0
psycopg2-binary>=2.9,<3.0

# ==============================
# VISUALISATION
# ==============================
plotly>=5.18,<6.0

# ==============================
# EXCEL
# ==============================
openpyxl>=3.1,<4.0

# ==============================
# GIS LEGER
# ==============================
shapely>=2.0,<3.0
